# --- synthmoon: do not commit downloaded/generated data ---
OUTPUT/
DATA/LROC/
DATA/moon_albedo_*.fits
*.tif
*.tiff
synthmoon_v0_patch*.zip
OLD/

# uv / python
.venv/
__pycache__/
*.pyc
*.egg-info/

# DEM / big data
DATA/LOLA_GDR/
DATA/moon_dem_*.fits

# local outputs / artefacts
*.fits
synthmoon.egg-info/
